<div>
  <app-nav-bar></app-nav-bar>
  <app-bg-circle-decoration></app-bg-circle-decoration>
  <app-title-img-header
    [imageName]="'contact-header-img.jpg'"
    [screenTitle]="'Contact'"></app-title-img-header>
  <section class="contact-main">
    <section>
      <h2 class="fs-1 title-color">Send me a message</h2>
      <p class="fs-3 parag-color">
        Whether you wish to discuss new ideas or have a project for me, simply
        fill this form and I’ll get back to you soon.
      </p>
    </section>
    <app-form class="form"></app-form>
  </section>
  <app-footer></app-footer>
</div>
