.parallax {
  background-image: url('../../../../../assets/images/parallax-effect/bg.jpg');
  display: flex;
  align-items: center;
  min-height: 60%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px #18363385;
  margin: 0 -12.5%;
}
@media only screen and (max-width: 800px) {
  .parallax {
    background-attachment: scroll;
    height: 60%;
    margin: 0;
  }
}
