<div class="about-me-summary">
  <p class="fs-4 accent-color title">About me</p>
  <p class="parag-color fs-3 descrip-1">
    I am an enthusiastic developer interested in acquiring more knowledge about
    Software Development and staying current in a continuously growing industry
  </p>
  <p class="fs-2 title-color subtitle">
    I design and build professional websites
  </p>
  <p class="parag-color fs-4 descrip-2">
    Customer oriented, motivated to take charge of both customer engagement and
    problem resolution according to the latest web development trends. Focused
    and flexible engineer to multitask when necessary and able to work
    regardless the application niche.
  </p>
</div>
