<nav class="navbar flex">
  <a href="">
    <div>
      <img
        width="200"
        height="155"
        src="../../../../assets/images/nav-bar/logo.png"
        alt="YSdevLogo"
        routerLink="/home"
        srcset="" />
    </div>
  </a>
  <ul
    [ngClass]="{
      'hide-nav': shiftMenu,
      'show-menu': showMobileMenu
    }"
    class="navbar__links flex">
    <li>
      <a routerLink="/home" [ngClass]="{ 'mobile-font-color': shiftMenu }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/about" [ngClass]="{ 'mobile-font-color': shiftMenu }"
        >About</a
      >
    </li>
    <li>
      <a routerLink="/portfolio" [ngClass]="{ 'mobile-font-color': shiftMenu }"
        >Portfolio</a
      >
    </li>
    <li>
      <a routerLink="/contact" [ngClass]="{ 'mobile-font-color': shiftMenu }"
        >Contact</a
      >
    </li>
  </ul>
  <a
    *ngIf="shiftMenu"
    (click)="toggleBarsMenu()"
    type="button"
    class="menu-bars">
    <i class="fa-solid fa-bars"></i>
  </a>
</nav>
