<section>
  <div>
    <a
      download="yerald_cv.pdf"
      href="../../../../../assets/cv/Yerald Salazar-Front-endDev.pdf"
      >CLICK HERE TO DOWNLOAD MY CV<i class="fa-solid fa-file-arrow-down"></i
    ></a>
  </div>
  <p class="fs-4 parag-color">
    Developer interested in acquiring more knowledge about Software Development
    and staying current in a continuously growing industry. Team worker who
    enjoys collaborative interaction and taking advantage of the skills of each
    member to solve complex problems and implement front-end and back-end
    services that can deliver exceptional customer experience.
  </p>
</section>
